:root {
  --gridSize: 100px;
  background-color: rgb(158, 210, 255);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
p, h3, h2, h1 {
  margin:10px;
  padding:0;
}
body {
  margin: 0;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}
.gameGrid {
  width:var(--gridSize);
  height:var(--gridSize);
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: var(--gridSize);
}
.visible {
  opacity: 1;
  transition: opacity 0.7s;
}
.gameOverMenu {
  text-align: center;
}
.hidden {
  opacity: 0;
}
.gameOverMenu {
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.505);
  padding: 20px 30px;
  border-radius: 15px;
  position:absolute;
  top: 10px;
}
#restartBtn {
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: rgb(245, 155, 46);
  border-radius: 5px;
}
#gameboard {
  display:grid;
  grid-template-columns: repeat(3, var(--gridSize));
  gap: 5px;
}
.none {
  background-color: rgb(206, 232, 255);

}
.none:hover {
  background-color: rgb(216, 237, 255);

}
.player {
  background-color: #00ff91;
}
.computer {
  background-color: #ff006e;
}
.center {
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  top:0;
  width: 100vw;
}
.center-align {
  display: flex;
  justify-content: center;
}
.gameOverMenu {
  position: relative;
  z-index: 2;
}